<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid">
        <div class="ae-grid__item item-lg-6 item-lg--offset-7">
            <h4 class="ae-u-bolder au-mb-3 conatct__title">Contacto</h4>
            <p class="au-mb-4 contact__desc">Si desea contactar conmigo puede usar el siguiente
                <a (click)="onclickScroll('formulario')"> <strong>formulario  de contacto</strong></a>
            </p>
        </div>
    </div>

    <div class="ae-grid" id="formulario">
        <div class="ae-grid__item item-lg-6">
            <h3 class="ae-u-bolder au-mb-3 conatct__title">Formulario</h3>

            <div class="ae-grid ae-grid--collapse">
                <div class="ae-grid__item item-lg-6">
                    <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
                        <input type="text" placeholder="* Nombre" required name="nombre" ngModel>
                        <input type="email" placeholder="* Email" required name="email" ngModel>
                        <textarea placeholder="Mensaje ..." cols="30" rows="4" required name="mensaje" ngModel></textarea>

                        <button type="submit" [disabled]="!form.valid">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="ae-grid__item item-lg-6">
            <div class="ae-grid ae-grid--collapse">
                <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
                    <p class="au-mb-4 contact__addr">Irún<br> Gipuzkoa<br>20300 ES</p>
                    <p> <span class="contact__phone"> <span class="rk-light-color">Teléfono  </span> 620133243</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a>iremti2@gmail.com</a></span>
                    </p>
                </div>
                <div class="contact_spacer au-none au-lg-block"></div>
            </div>



        </div>
    </div>
</div>