@import url("https://fonts.googleapis.com/css?family=Barrio|Montserrat:700");
button {
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #e2e2e2;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
    position: relative;
    top: 0;
    right: 0;
    padding-left: 2.5rem;
}

button:after,
button:before {
    position: absolute;
    font-family: "Barrio", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

button:before {
    content: "_";
    position: absolute;
    left: 1.4rem;
    top: 0.9rem;
}

button:after {
    content: ">";
    position: absolute;
    left: 0.8rem;
    top: 1rem;
}

button:hover {
    box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
    top: -0.1rem;
    right: -0.1rem;
    cursor: pointer;
}

button:hover:before {
    content: "_";
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

button:hover:after {
    content: ">";
    position: absolute;
    left: 1.1rem;
    top: 1rem;
}

a {
    cursor: pointer
}