<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="blog-info padding-bottom">
        <h2 class="blog-info__title">Proyectos Web</h2>

    </div>
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <aside *ngFor="let item of projectService.proyectos | orderProjects">
            <a routerLink="/item" class="animated fadeIn rk-item ae-masonry__item">
                <img src="{{item.urlImg}}" alt="">
                <div class="item-meta">
                    <h2>{{item.nombre}}</h2>
                    <p>{{item.tecnologias}}</p>
                </div>
            </a>
        </aside>

    </div>
</section>