                /* Animaciones */
                
                 :root {
                    --animate-duration: 1s;
                }
                
                body,
                header.ae-container-fluid.ae-container-fluid--full.rk-header {
                    background-color: rgba(227, 231, 233, .3);
                }
                
                footer.ae-container-fluid.rk-footer {
                    padding-top: 2em;
                }
                
                .animated {
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-duration: var(--animate-duration);
                    animation-duration: var(--animate-duration);
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both
                }
                
                @media (prefers-reduced-motion:reduce),
                print {
                    .animated {
                        -webkit-animation-duration: 1ms!important;
                        animation-duration: 1ms!important;
                        -webkit-transition-duration: 1ms!important;
                        transition-duration: 1ms!important;
                        -webkit-animation-iteration-count: 1!important;
                        animation-iteration-count: 1!important
                    }
                }
                
                @-webkit-keyframes fadeIn {
                    0% {
                        opacity: 0
                    }
                    to {
                        opacity: 1
                    }
                }
                
                @keyframes fadeIn {
                    0% {
                        opacity: 0
                    }
                    to {
                        opacity: 1
                    }
                }
                
                .fadeIn {
                    -webkit-animation-name: fadeIn;
                    animation-name: fadeIn
                }
                /*Entrada de logos*/
                
                @-webkit-keyframes backInLeft {
                    0% {
                        -webkit-transform: translateX(-2000px) scale(.7);
                        transform: translateX(-2000px) scale(.7);
                        opacity: .7
                    }
                    80% {
                        -webkit-transform: translateX(0) scale(.7);
                        transform: translateX(0) scale(.7);
                        opacity: .7
                    }
                    to {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 1
                    }
                }
                
                @keyframes backInLeft {
                    0% {
                        -webkit-transform: translateX(-2000px) scale(.7);
                        transform: translateX(-2000px) scale(.7);
                        opacity: .7
                    }
                    80% {
                        -webkit-transform: translateX(0) scale(.7);
                        transform: translateX(0) scale(.7);
                        opacity: .7
                    }
                    to {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        opacity: 1
                    }
                }
                
                .animate__backInLeft {
                    -webkit-animation-name: backInLeft;
                    animation-name: backInLeft
                }
                /*
                Color del Loading
                */
                
                svg path,
                svg rect {
                    fill: black;
                }
                
                .padding-bottom {
                    padding-bottom: 2em;
                }
                
                .logos {
                    height: 100px;
                    width: 100px;
                    text-align: center;
                    margin: .3em;
                    float: left;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                
                .logos:hover {
                    animation: rubberBand;
                    animation-duration: 1s;
                }
                
                .logos .logo {
                    align-self: flex-end;
                    padding: auto;
                    margin: auto;
                }
                
                .logos-info {
                    position: relative;
                    width: 90%;
                    height: 200px;
                    padding-bottom: 2em;
                    clear: both;
                    display: inline-block;
                    margin: 0 0.5rem;
                    animation: bounceInLeft;
                    /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 2s;
                    /* don't forget to set a duration! */
                }
                
                .enter-search {
                    animation: bounceOutUp;
                    animation-duration: 2s;
                }
                
                div.ae-masonry.ae-masonry-md-2.ae-masonry-xl-2 {
                    animation: backInUp;
                    animation-duration: 1s;
                }
                
                h1.blog-info__title,
                h2.blog-info__title {
                    animation: backInUp;
                    animation-duration: 1s;
                }