                /* Animaciones */
                
                 :root {
                    --animate-duration: 1s;
                }
                
                body,
                header.ae-container-fluid.ae-container-fluid--full.rk-header {
                    background-color: rgba(227, 231, 233, .3);
                }
                
                footer.ae-container-fluid.rk-footer {
                    padding-top: 2em;
                }
                
                .animated {
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-duration: var(--animate-duration);
                    animation-duration: var(--animate-duration);
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both
                }
                
                @media (prefers-reduced-motion:reduce),
                print {
                    .animated {
                        -webkit-animation-duration: 1ms!important;
                        animation-duration: 1ms!important;
                        -webkit-transition-duration: 1ms!important;
                        transition-duration: 1ms!important;
                        -webkit-animation-iteration-count: 1!important;
                        animation-iteration-count: 1!important
                    }
                }
                
                @-webkit-keyframes fadeIn {
                    0% {
                        opacity: 0
                    }
                    to {
                        opacity: 1
                    }
                }
                
                @keyframes fadeIn {
                    0% {
                        opacity: 0
                    }
                    to {
                        opacity: 1
                    }
                }
                
                .fadeIn {
                    -webkit-animation-name: fadeIn;
                    animation-name: fadeIn
                }
                /*
                Color del Loading
                */
                
                svg path,
                svg rect {
                    fill: black;
                }
                
                .padding-bottom {
                    padding-bottom: 2em;
                }
                
                .logos {
                    margin: .3em;
                    float: left;
                    /* or inline-flex */
                }
                
                .logos:hover {
                    filter: hue-rotate(180deg);
                    -webkit-filter: hue-rotate(180deg);
                }
                
                div.blog-info__excerpt.logos-info {
                    width: 90%;
                    height: 100px;
                    padding-bottom: 2em;
                    clear: both;
                }